<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:annotation-config/>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
<!--     <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" -->
<!-- 		  p:driverClassName="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" p:url="jdbc:log4jdbc:mysql://localhost:3306/the_nature"  -->
<!--           p:username="jieon" -->
<!--           p:password="jieon" -->
<!--           p:initialSize="3" -->
<!--           p:maxIdle="10" -->
<!--           p:minIdle="3" -->
<!--           p:validationQuery="SELECT 1" /> -->

 	<!-- SqlSession setup for MyBatis Database Layer -->
<!-- 	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="mapperLocations" value="classpath:/sql/*.xml" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> -->
<!-- 		<constructor-arg index="0" ref="sqlSession"></constructor-arg> -->
<!--     </bean> -->
    
<!--     email 인증 관련   -->
<!--     <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> -->
<!--         <property name="host" value="smtp.gmail.com" /> -->
<!--         <property name="port" value="587" /> -->
<!--         <property name="username" value="ljh@thewell79.com"/> -->
<!--         <property name="password" value="qqizcoezjmwqnmdc"/> -->
<!--         <property name="javaMailProperties"> -->
<!--             <props> -->
<!--                 <prop key="mail.transport.protocol">smtp</prop> -->
<!--                 <prop key="mail.smtp.auth">true</prop> -->
<!--                 <prop key="mail.smtp.starttls.enable">true</prop> -->
<!--                 <prop key="mail.debug">true</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--     </bean> -->
</beans>